body,html{
    margin:0;
    height: 100%;
    width: 100%;
}
*{
    font-family: sans-serif;
}
.nav{
    height: 100px;
    width: 100%;
    background-color: rgb(39, 80, 96);
    display: flex;
    gap: 35%;
}

.in-navone{
    height: 70%;
    width: 5%;
  
    background-size: cover;
    margin-top: -10px;
    margin-left: 20px ;
    filter: drop-shadow(2px 2px 5px black);
}
#im{
    width: 155px;
    height: 120px;
    
}
img {
    height: 100%;
    width: 100%;
    
}

.in-nav-two{
    display: flex;
    width: 58%;
    height: 70%;
    /*background-color:blueviolet;*/
    margin-top:20px ;
    gap: 0.10%;
    color: white;
}
.anchor {
    width: 30%;
    height: 70%;
    
}
.sign{
    width: 10.5vw;
    height: 7.5vh;
    border-radius: 4vw;
    background-color: #41C9E2;
    border: 3px solid white;
    border-top-color: rgb(17, 193, 212);
    border-left-color:  rgb(61, 123, 237);
    border-right-color: blue;
    border-bottom-color: rgb(173, 90, 251) ;
    font-size: 1.1vw;
    font-weight: bold;
    color: white;
    background-blend-mode:multiply;
    box-shadow: 2px 4px black;
}

a{
    text-decoration: none;
    color:aliceblue;
}


.main{
    margin-top: 0px
}
body{
    background-color: #2c7dbf;
    color:white;
}
h2{
    text-align: center;
}
.us{
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 2px solid white;
    color: rgb(214, 214, 251);
}
.intro{
    padding-left: 30px;
    padding-right: 30px;
    

}
.banar{
    display: flex;

}
.point{
    margin-right: 30px;
}
 
.imgg{
    border: 3px solid black;
    width:300px;
    padding-left: 150px;
    background-color: #29afd3;
    box-shadow: 4px 4px 4px black;
    border-top-left-radius: 30px; 
    border-bottom-right-radius: 30px; 
    height: 40px;
    
   

   
    

}
.name{ 
    font-family:sans-serif;
   font-size: 20px;
 font-weight: 900;
 margin: 5px;
}
 
.img-info{
    width: 270px;
    background-color: #87bdff;
    border: 2px solid black;
    height: 40px;
    display: flex;
    margin-left: 74px;
    box-shadow: 4px 4px 4px black;
    border-top-right-radius: 20px; 
    border-bottom-left-radius: 20px; 


}
.img-first{
    margin: 5px;
    margin-left: 40px;
    

}
.img-second{
    margin: 5px;
    margin-left: 40px;
}
.img-third{
    margin: 5px;
    margin-left: 40px;
}

.img-first:hover{
    box-shadow: 2px 2px 10px rgb(251, 77, 106);

}
.img-second:hover{
    box-shadow: 2px 2px 10px rgb(0, 0, 255);
   

}
.img-third:hover{
    box-shadow: 2px 2px 10px rgb(52, 50, 50);

}
.img:hover{
    box-shadow: 4px 4px 4px #4cc9f0;
    border-top-right-radius: 20px; 
    border-bottom-left-radius: 20px; 
    border-top-left-radius: 0; 
    border-bottom-right-radius: 0; 

    
}
.img-info:hover{
    box-shadow: 4px 4px 4px rgb(0, 225, 255);
    border-top-right-radius: 0; 
    border-bottom-left-radius: 0;
    border-top-left-radius: 30px; 
    border-bottom-right-radius: 30px; 

    
   
}
.wp{
    
    width: 480px
}
.cpcp{
    display: flex;
    padding-left: 40px;
    margin-top: 30px;
}

.anchor h3:hover{
    color: aquamarine;
    text-shadow: 0px 3px 3px rgb(98, 106, 255);
}
a{
    text-decoration: none;
    color:aliceblue;
}