body,html{
    margin:0;
    height: 100%;
    width: 100%;
}

.nav{
    height: 100px;
    width: 100%;
    background-color: rgb(39, 80, 96);
    display: flex;
    gap: 35%;
}

.in-navone{
    height: 70%;
    width: 5%;
  
    background-size: cover;
    margin-top: -10px;
    margin-left: 20px ;
    filter: drop-shadow(2px 2px 5px black);
}
#im{
    width: 155px;
    height: 120px;
    
}
img {
    height: 100%;
    width: 100%;
    
}

.in-nav-two{
    display: flex;
    width: 58%;
    height: 70%;
    /*background-color:blueviolet;*/
    margin-top:20px ;
    gap: 0.10%;
    color: white;
}
.anchor {
    width: 30%;
    height: 70%;
    
}
.sign{
    width: 10.5vw;
    height: 7.5vh;
    border-radius: 4vw;
    background-color: #41C9E2;
    border: 3px solid white;
    border-top-color: rgb(17, 193, 212);
    border-left-color:  rgb(61, 123, 237);
    border-right-color: blue;
    border-bottom-color: rgb(173, 90, 251) ;
    font-size: 1.1vw;
    font-weight: bold;
    color: white;
    background-blend-mode:multiply;
    box-shadow: 2px 4px black;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    
}

.container{
    background:linear-gradient(45deg,rgb(111,193,215), rgb(20, 218, 232));
    padding:15px 9%;
    padding-bottom: 100px;
}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}

.container .box-container .box img{
    height: 80px;
}

.container .box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgb(0, 4, 255);
    transform: scale(1.03);
}

@media (max-width:768px){
    .container{
        padding:20px;
    }
}

a{
    text-decoration: none;
    color:aliceblue;
}
.anchor h3:hover{
    color: aquamarine;
    text-shadow: 0px 3px 3px rgb(98, 106, 255);
}
